<div>
  <div class='flex sb'>
    <%= link_to("Back To #{@chief.company.name}", company_path(@chief.company), class: 'btn') %>
    <!--      TODO add note      -->
    <% if admin_signed_in? %>
      <div>
        <% if @chief.approved %>
          <%= @chief.approved_icon %> Approved
          <%= link_to('Deny', chief_deny_path(@chief), method: :put, class: 'btn btn-danger') %>
        <% elsif @chief.denied %>
          <%= @chief.approved_icon %>Denied
          <%= link_to('Approve', chief_approve_path(@chief), method: :put, class: 'btn') %>
        <% else %>
          Awaiting
          <%= link_to('Approve', chief_approve_path(@chief), method: :put, class: 'btn') %>
        <% end %>
        <%= link_to('Edit', edit_chief_path(@chief), class: 'btn') %>
      </div>
    <% end %>
  </div>

  <h1>Leadership</h1>

  <h3><%= @chief.full_name %></h3>
  <h3><%= @chief.title_nice %> @ <%= link_to(@chief.company.name, company_path(@chief.company)) %></h3>

  <div class='flex'>
    <div class='flex flex-column width-50'>
      <%= render "ratings/stars", record: @chief %>
      (<%= @chief.review_count %> Reviews)
    </div>
    <% if admin_signed_in? %>
      <div class='width-50'>
        <%= render('notes/notes', record: @chief) %>
      </div>
    <% end %>
  </div>
  <%= link_to('Add A Review', new_chief_review_path(@chief.company, @chief), class: 'btn') %>
  <div>
    <%= render "reviews/reviews", account: false %>
  </div>
</div>
