<% if record.respond_to?(:overall_rating) %>
  <div class='stars overall'>
    <span class='' style='flex: 0.35'>Overall <%= record.overall_rating %></span>
    <div class="outer-stars <%= record.denied ? 'denied' : '' %>">
      <div class='inner-stars' style="width: <%= record.star_width(num: record.overall_rating) %>%">
        <%= record.stars(num: 5) %>
      </div>
<!--      <div class='inner-starso'>-->
        <%#= record.starso %>
<!--      </div>-->
    </div>
  </div>
<% end %>
<% Rating.styles.keys.each do |style| %>
  <div class='stars'>
    <span class='' style='flex: 0.35'><%= style.capitalize %></span>
    <div class="outer-stars <%= record.denied ? 'denied' : '' %>">
      <div class='inner-stars' style="width: <%= record.star_width(style: style) %>%">
        <%= record.stars(num: 5) %>
      </div>
<!--      <div class='inner-starso'>-->
        <%#= record.starso %>
<!--      </div>-->
    </div>
  </div>
<% end %>
