<div id='company-show'>
  <div class='hero'>
    <div class='logo'></div>
    <div class='name'>
      <%= @company.name %>
    </div>
  </div>

  <!--  ADMIN SECTION  -->
  <% if admin_signed_in? %>
    <!--      TODO add note      -->
    <div class='flex admin-container mb-32' style='margin-top: -32px'>
      <div class='admin-fill'></div>
      <div class='admin'>
        <% if @company.approved %>
          <span>
            <%= @company.approved_icon %> Approved
          </span>
          <%= link_to('Deny', company_deny_path(@company), method: :put, class: 'btn btn-danger', data: { turbo: false }) %>
        <% elsif @company.denied %>
          <span>
            <%= @company.approved_icon %> Denied
          </span>
          <%= link_to('Approve', company_approve_path(@company), method: :put, class: 'btn', data: { turbo: false }) %>
        <% else %>
          Awaiting
          <%= link_to('Approve', company_approve_path(@company), method: :put, class: 'btn', data: { turbo: false }) %>
        <% end %>
        <%= link_to('EDIT', edit_company_path(@company), class: 'btn') %>
      </div>
    </div>
  <% end %>

  <section class='flex sb'>
    <div class='flex flex-column width-50 flex-spaced'>
      <div>
        <span>Website</span>
        <span><%= link_to(@company.website, @company.website, target: '_blank') %></span>
      </div>
      <div>
        <span>Founded</span>
        <span><%= @company.founded %></span>
      </div>
      <div>
        <span>Industry</span>
        <span><%= @company.industry %></span>
      </div>
      <div>
        <span>Employees</span>
        <span><%= @company.employee_count %></span>
      </div>
      <div>
        <span>Location</span>
        <span><%= @company.location %></span>
      </div>
    </div>
    <div class='flex flex-column width-50'>
      <h3>About</h3>
      <%= @company.about %>
    </div>
  </section>

  <section class='flex'>
    <div class='flex flex-column width-50'>
      <%= render "ratings/stars", record: @company %>
      (<%= @company.review_count %> Reviews)
    </div>
    <% if admin_signed_in? %>
      <div class='width-50'>
        <%= render('notes/notes', record: @company) %>
      </div>
    <% end %>
  </section>

  <section>
    <% if user_signed_in? %>
      <% if @company.user_can_review(current_user) %>
        <%= link_to("Review #{@company.name}", new_review_path(@company), class: 'btn') %>
      <% else %>
        <!--      TODO change link to add new employment        -->
        <%= link_to("Add Employment to review #{@company.name}", new_review_path(@company), class: 'btn') %>
      <% end %>
    <% else %>
      <%= link_to("Login to review #{@company.name}", new_user_session_path, class: 'btn') %>
    <% end %>
  </section>

  <section class='leadership'>
    <h2>Leadership</h2>
    <div class='flex flex-row'>
      <% @company.approved_current_chiefs.each do |chief| %>
        <div class='section mr-16'>
          <h4>
            <%= link_to(chief.full_name, chief_path(chief)) %>
          </h4>
          <h5><%= chief.title_nice %></h5>
          <div class='flex flex-column'>
            <%= render "ratings/stars", record: chief %>
            (<%= chief.review_count %> Reviews) <%= link_to("Review #{chief.title_small}", new_chief_review_path(@company, chief)) %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to('Add Leadership', new_chief_path(@company)) %>
  </section>

  <section class='flex flex-column jobs'>
    <h2>Jobs</h2>
    <div><%= link_to("View #{@company.job_listings.count} Job Listings", company_job_listings_path(@company.name), class: 'btn') %></div>
  </section>

  <section class='data-charts'>
    <h3>Gender</h3>
    <%= render('bar_chart', data: @data[:gender]) %>
    <%#= line_chart @data["gender"], id: 'gender-chart' %>
    <h3>Orientation</h3>
    <%= render('bar_chart', data: @data[:orientation]) %>
    <%#= column_chart @data["orientation"] %>
    <h3>Race</h3>
    <%= render('bar_chart', data: @data[:race]) %>
    <%#= bar_chart @data["race"] %>
    <h3>Person of color</h3>
    <%= render('bar_chart', data: @data[:poc]) %>
    <%#= pie_chart @data["poc"] %>
  </section>

  <section class='flex flex-column' id='scroll'>
    <h2>Reviews</h2>
    <div data-controller="sort">
      <div id='reviews'>
        <div class='flex width-50 sb'>
          <% ['new_to_old', 'old_to_new', 'highest_rated', 'most_helpful'].each do |sort| %>
            <div
              data-action='click->sort#sortData'
              class="turbo-link <%= sort == @sort ? 'highlight' : ''%>"
              data="/companies/<%= @company.id %>?sort=<%= sort %>"
            >
              <%= sort.titleize %>
            </div>
          <% end %>
        </div>
        <div class='flex flex-column sb width-50'>
          <%= render partial: 'reviews/reviews', formats: [:html], locals: {account: false} %>
        </div>
        <div>
          <%== pagy_nav(@pagy) %>
        </div>
      </div>
    </div>
  </section>
</div>
