<turbo-stream action='update' target='reviews'>
  <template>
    <div class='flex sb' data-sort-target='sort-options'>
      <% ['new_to_old', 'old_to_new', 'highest_rated', 'most_helpful'].each do |sort| %>
        <div
          data-sort-target='option'
          data-action='click->sort#sortData'
          class="turbo-link <%= sort == @sort ? 'highlight' : ''%>"
          data="/companies/<%= @company.id %>?sort=<%= sort %>"
        >
          <%= sort.titleize %>
        </div>
      <% end %>
    </div>
    <%= render partial: 'reviews/reviews', formats: [:html], locals: {account: false} %>
    <div>
      <%== pagy_nav(@pagy) %>
    </div>
  </template>
</turbo-stream>
