<h1>System Dashboard</h1>
<div>
  <h1>User Info</h1>
  <h2><%= User.all.count %> Users</h2>
  <h3>Gender</h3>
  <%= render('bar_chart', data: @data[:gender]) %>
  <h3>Orientation</h3>
  <%= render('bar_chart', data: @data[:orientation]) %>
  <h3>Race</h3>
  <%= render('bar_chart', data: @data[:race]) %>
  <h3>Person of color</h3>
  <%= render('bar_chart', data: @data[:poc]) %>
</div>
