<h1>SYSTEM</h1>
<%= link_to('Dashboard', system_dashboard_path, class: 'btn') %>
<div class='flex sb'>
  <div class='flex-1'>
    <h3>Companies (<%= Company.all.count %>)</h3>
    <%= link_to('View', system_companies_path) %>
  </div>

  <div class='flex-1'>
    <h3>Chiefs (<%= Chief.all.count %>)</h3>
    <%= link_to('View', system_chiefs_path) %>
  </div>

  <div class='flex-1'>
    <h3>Reviews (<%= Review.all.count %>)</h3>
    <%= link_to('View', system_reviews_path) %>
  </div>

  <div class='flex-1'>
    <h3>Users (<%= User.all.count %>)</h3>
    <%= link_to('View', system_users_path) %>
  </div>

  <div class='flex-1'>
    <h3>Admins</h3>
    <%= link_to('Add Admin', new_admin_path) %>
    <h5>Mods</h5>
    <% @mods.each do |user| %>
      <div class='flex'>
        <%= link_to(user.email, admin_account_path(user)) %>
      </div>
    <% end %>
    <h5>Supers</h5>
    <% @supers.each do |user| %>
      <div class='flex'>
        <%= link_to(user.email, admin_account_path(user)) %>
      </div>
    <% end %>
    <h5>Ubers</h5>
    <% @ubers.each do |user| %>
      <div class='flex'>
        <%= link_to(user.email, admin_account_path(user)) %>
      </div>
    <% end %>
  </div>

</div>
