<div id='navbar'>
  <div class='flex sb navbar-interior'>
    <div class='nav-left flex flex-3'>
      <%= link_to root_path do %>
        <div class='logo flex mr-16'>
          <svg width="143" height="32" viewBox="0 0 143 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
              <path d="M15.4479 15.455C15.6068 15.455 15.7693 15.4767 15.9282 15.4767C16.0872 15.4767 16.2497 15.4767 16.4086 15.455C16.5367 14.0078 17.1739 12.6528 18.2069 11.6311C19.2399 10.6094 20.6017 9.98704 22.0503 9.87476C22.0683 9.69417 22.0792 9.51357 22.0792 9.32576C22.0791 8.51343 21.9179 7.70919 21.6048 6.95962C21.2917 6.21006 20.833 5.53007 20.2552 4.95905L15.9282 0L11.594 4.95905C11.0195 5.53156 10.5641 6.21222 10.2542 6.96172C9.94421 7.71122 9.7858 8.5147 9.78811 9.32576C9.78811 9.50996 9.78811 9.68694 9.81339 9.87476C11.2607 9.98867 12.6208 10.6117 13.6523 11.6333C14.6838 12.6549 15.32 14.0089 15.4479 15.455Z" fill="black"/>
              <path d="M26.8974 11.6734C26.3248 11.0989 25.6442 10.6435 24.8947 10.3336C24.1452 10.0236 23.3417 9.86521 22.5306 9.86752C22.3717 9.86752 22.2092 9.86752 22.0503 9.88919C21.9189 11.3339 21.2803 12.6854 20.2476 13.7042C19.2149 14.723 17.8549 15.3432 16.4086 15.455C16.4086 15.6356 16.3833 15.8162 16.3833 16.0004C16.3833 16.1846 16.3833 16.2713 16.3833 16.4013C17.8624 16.509 19.2526 17.1484 20.2969 18.2014C21.3412 19.2544 21.9692 20.6497 22.0647 22.1297C22.2164 22.1297 22.3753 22.1514 22.5306 22.1514C23.3419 22.1551 24.1458 21.9973 24.8955 21.6873C25.6452 21.3772 26.3257 20.9211 26.8974 20.3455L31.86 16.0113L26.8974 11.6734Z" fill="black"/>
              <path d="M16.3977 16.4014C16.2424 16.4014 16.0871 16.4014 15.9282 16.4014C15.7693 16.4014 15.614 16.4014 15.4623 16.4014C15.3672 17.879 14.7413 19.2725 13.6999 20.3252C12.6585 21.3778 11.2719 22.0187 9.79531 22.1297C9.79531 22.2634 9.79531 22.397 9.79531 22.5307C9.79301 23.3417 9.95141 24.1452 10.2614 24.8947C10.5713 25.6442 11.0267 26.3248 11.6012 26.8974L15.9354 31.86L20.2696 26.8974C20.8485 26.3272 21.308 25.6474 21.6212 24.8976C21.9344 24.1478 22.095 23.3432 22.0936 22.5307C22.0936 22.397 22.0936 22.2634 22.0936 22.1297C20.6119 22.0254 19.2183 21.3874 18.171 20.3341C17.1237 19.2809 16.4937 17.8836 16.3977 16.4014Z" fill="black"/>
              <path d="M15.4623 16.4014C15.4623 16.2713 15.4623 16.1377 15.4623 16.0005C15.4617 15.8183 15.4521 15.6363 15.4334 15.4551C13.9874 15.3395 12.629 14.7158 11.5989 13.6943C10.5689 12.6729 9.93379 11.3198 9.80613 9.87478C9.64721 9.87478 9.48829 9.85311 9.32576 9.85311C8.5147 9.85081 7.71122 10.0092 6.96172 10.3192C6.21222 10.6291 5.53156 11.0845 4.95905 11.659L0 16.0005L4.95905 20.3347C5.53156 20.9092 6.21222 21.3645 6.96172 21.6745C7.71122 21.9845 8.5147 22.1429 9.32576 22.1406C9.48468 22.1406 9.63999 22.1406 9.7953 22.1189C9.89293 20.6432 10.5199 19.2523 11.5611 18.2019C12.6022 17.1514 13.9875 16.5121 15.4623 16.4014Z" fill="black"/>
              <path d="M38.7767 16.3652C38.7767 10.6585 43.147 8.02185 47.5173 8.02185C51.9599 8.02185 56.3302 10.803 56.3302 16.5097C56.3302 22.2164 51.9599 24.853 47.5895 24.853C43.147 24.853 38.7767 22.0719 38.7767 16.3652ZM51.093 18.0989C51.093 13.4757 49.3232 9.53882 46.9033 9.53882C45.1696 9.53882 44.0138 11.0558 44.0138 14.776C44.0138 19.3991 45.7836 23.336 48.2036 23.336C49.9011 23.336 51.093 21.8191 51.093 18.0989Z" fill="black"/>
              <path d="M56.5107 30.2347C58.2083 30.1263 58.8223 29.5846 58.8223 27.887V12.2116C58.8223 10.5502 57.9916 10.189 56.5107 10.3335V9.0296L61.9646 8.09053C63.1204 7.90993 63.6983 8.41559 63.6983 9.35467V9.67973C63.6983 10.2576 64.1317 10.4021 64.529 9.96868C65.1581 9.33811 65.9075 8.8405 66.7327 8.50543C67.558 8.17037 68.4422 8.0047 69.3328 8.01829C73.1252 8.01829 76.5565 10.9078 76.5565 16.181C76.5565 21.8155 72.5473 24.8494 68.5382 24.8494C65.143 24.8494 63.6983 22.6823 63.6983 24.6689V27.8834C63.6983 29.5809 64.3123 30.1227 66.1905 30.2311V31.4952H56.5107V30.2347ZM71.3554 17.8822C71.3554 13.9814 69.8384 10.7669 67.1295 10.7669C65.5042 10.7669 63.6983 11.7782 63.6983 15.7873V18.2073C63.6983 22.3248 66.2627 23.3722 67.9242 23.3722C70.308 23.3722 71.3554 21.1329 71.3554 17.8822Z" fill="black"/>
              <path d="M77.4594 16.5458C77.4594 10.7668 82.0826 8.02185 86.5974 8.02185C90.3898 8.02185 93.3154 9.97224 93.3154 13.0062C93.3154 16.0401 90.4259 16.4013 86.8502 16.6903L83.9246 16.8708C83.2384 16.907 82.8772 17.3404 83.0216 18.3878C83.3467 20.8439 86.0195 22.2164 88.5839 22.2164C89.3943 22.2382 90.1995 22.0812 90.9424 21.7566C91.6853 21.432 92.3475 20.9477 92.882 20.3382L93.8572 21.205C93.1709 22.5775 90.4621 24.853 86.3084 24.853C81.7936 24.853 77.4594 22.1441 77.4594 16.5458ZM85.5499 15.4261C88.2227 15.2455 88.8367 14.5954 88.8367 13.0423C88.8367 11.2725 88.0421 9.53882 86.0556 9.53882C83.7801 9.53882 82.8411 11.5976 82.7327 13.8008C82.6966 15.101 82.9855 15.6067 83.9607 15.5706L85.5499 15.4261Z" fill="black"/>
              <path d="M107.907 21.2051V14.9927C107.907 12.6811 106.751 10.803 104.693 10.803C102.562 10.803 101.406 12.6811 101.406 14.9927V20.9161C101.406 22.722 102.02 23.2638 103.645 23.3722V24.6363H94.2183V23.3722C95.9159 23.2638 96.5299 22.722 96.5299 20.9161V12.2116C96.5299 10.5502 95.6992 10.189 94.2183 10.3335V9.02958L99.6722 8.0905C100.828 7.90991 101.406 8.41557 101.406 9.21017C101.406 10.5104 102.056 10.7633 102.526 10.2215C103.131 9.4699 103.903 8.86968 104.781 8.46844C105.659 8.0672 106.618 7.87597 107.582 7.90991C110.183 7.90991 112.783 9.0657 112.783 14.1584V21.2015C112.783 22.4295 113.325 23.0435 114.372 22.6823V23.4408C113.903 24.4882 112.639 24.8494 111.519 24.8494C109.439 24.853 107.907 23.6972 107.907 21.2051Z" fill="black"/>
              <path d="M116.395 21.2051V5.16853C116.395 3.47097 115.564 3.14591 114.083 3.25426V1.99012L119.552 1.01492C120.708 0.83433 121.285 1.33999 121.285 2.38742V21.2051C121.285 22.4331 121.827 23.0832 122.875 22.6859V23.4444C122.369 24.4919 121.105 24.853 119.985 24.853C117.912 24.853 116.395 23.6972 116.395 21.2051Z" fill="black"/>
              <path d="M123.763 28.8947C123.763 27.8112 124.377 26.6915 126.002 26.6915C128.892 26.6915 127.411 30.2311 129.181 30.2311C129.867 30.2311 130.445 29.6171 130.662 28.8947C131.167 27.5945 130.951 26.2581 130.337 24.705L125.692 12.7173C125.006 10.9114 124.319 10.1168 122.766 9.61113V8.34698H131.796V9.61113C129.918 10.1168 129.918 10.8392 130.64 12.7173L133.241 19.327C133.818 20.8439 134.288 20.8439 134.866 19.2908L136.058 16.1485C137.936 11.0197 137.322 10.1168 135.083 9.61113V8.34698H142.379V9.61113C140.175 10.1168 139.634 10.9114 138.947 12.7173L133.602 26.5145C132.121 30.4153 130.604 31.7878 127.895 31.7878C125.497 31.7842 123.763 30.6681 123.763 28.8947Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="142.364" height="31.86" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
      <% end %>
      <div class='ml-16 links margin-auto-v'>
        <%= link_to('Companies', companies_path) %>
        <%= link_to('About', companies_path) %>
        <%= link_to('Lists', companies_path) %>
        <%= link_to('Jobs', companies_path) %>
      </div>
    </div>
    <% if admin_signed_in? %>
      <div class='nav-middle flex flex-2 flex-right'>
        <span class='mr-16 margin-auto-v'>
          <%= current_user.email %>
          <br/>
          Role: <%= current_user.role %>
        </span>
        <div class='margin-auto-v'>
          <%= link_to('Moderator', moderator_path) %>
          <% if current_user.uber? %>
            <%= link_to('System', system_path) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='nav-right flex-3'>
      <% if signed_in? %>
        <%= link_to('Account', account_path, class: 'btn btn-highlight') %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn') %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: 'btn btn-highlight') %>
        <%= link_to('Sign Up', new_user_registration_path, class: 'btn') %>
      <% end %>
    </div>
  </div>
  <%= render('flash_messages') %>
</div>
